body {
    background-image: url(pizaaback.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#pizza1 {
    margin: 50px;
    position: absolute;
    height: 70px;
    width: 70px;
    left: 70%;
}

h1 {
    background-color: cornflowerblue;
    font-size: 2rem;
    text-shadow: darkgreen;
    font-family: lucida Sans;
}

#sizes {
    color: darkblue;
    scroll-padding: bottom;
}

.col-md-3 {
    border: blue;
}